<div class="text-center">
  <h3 class="mt-8 text-xl font-extrabold">Get new posts by email</h3>
  <form
    action="https://api.follow.it/subscription-form/aHNpeFBoSzE4U0hMS0NvaS9keGcvVFJTa1dZUENRcXdtejcwRnI3OWJMSTBZWUt6d1hMcWlPN2xSZ2RPY2paWFpVVGpEMTlWd29NN2xJOWE2WUQ3V1B3OFRNdk9jR2dXWnMxUTlXVVd6UU9Dbm04a0hjeXFqN2hKVHd4SHFxSGN8S2ZyMEsyV25qUkpNS2hUTGNSTjcvL2JVN2dxQUQzNDh5bHd6eVh5ZlZGND0=/8"
    method="POST" class="mt-6">
    <label for="email" class="sr-only" hidden>Email address</label>
    <input type="email" id="email" name="email"
      class="rounded-md border border-neutral-200 px-2 py-1 hover:border-primary-300 dark:border-neutral-600 dark:hover:border-primary-600 bg-transparent"
      placeholder="Enter your email" required>
    <button type="submit"
      class="rounded-md border border-neutral-200 px-2 py-1 hover:border-primary-300 dark:border-neutral-600 dark:hover:border-primary-600 bg-transparent">
      Subscribe
    </button>
  </form>
</div>