:root {
    --background: #1a1a1a;
    --color: #f2f2f2;
    --highlight: #379f33;
}

* {
    font-family: 'Roboto Mono', 'Roboto', sans-serif;
    color: var(--color)
}

body {
    margin: 0;
    background-color: var(--background);
}
